.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: url('D-1.png') no-repeat center center;
  background-size: cover;
  padding: 60px 20px;
  color: white;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.feature-item {
  max-width: 300px;
  text-align: left;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
