.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #f8f9fa; /* ヒーローセクションと同じ背景色 */
  padding: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: #f8f9fa; /* ヘッダーと同じ背景色 */
  padding: 60px 20px;
  color: #333;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.feature-item {
  max-width: 300px;
  text-align: left;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
